<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>sightings</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <a href="/sightings/add"><button type="button" class="btn btn-default" style="margin-top: 30px">Add</button></a>
    <a href="/sightings/stats"><button type="button" class="btn btn-default" style="margin-top: 30px">Stats</button></a>
    <a href="/map"><button type="button" class="btn btn-default" style="margin-top: 30px">Map</button></a>

<table class="table table-striped">
	<thead>
		<tr>
            <th>unique_squirrel_id</th>
			<th>x</th>
			<th>y</th>
			<th>option</th>
		</tr>
	</thead>
	<tbody>
    {% for foo in lst %}
    		<tr>
            <td>{{ foo.unique_squirrel_id }}</td>
			<td>{{ foo.x }}</td>
			<td>{{ foo.y }}</td>
                <td class=" btnEdit "><button type="button" class="btn  btn-default" value="{{ foo.unique_squirrel_id }}">Edit</button></td>
		</tr>
    {% endfor %}



	</tbody>
</table>

</div>
</body>
<style>
    .isshow{
        display: none;
    }
</style>
<script>
    $(".btnEdit").click(function () {

        x=$(this).prevAll()[1];
        y=$(this).prevAll()[2];
        alert(x)
        alert(y)
        x.html("<input type=\"number\" id=\"inputfile\" value="+x.text+">")
        y.html("<input type=\"number\" id=\"inputfile\" value="+y.text+">")

    })
</script>
</html>
