<!DOCTYPE html>
<html>
	<head>
		<title>Squirrel Stats</title>


	</head>

	<body>
		<h1>The number of juvenile squirrels: {{age_stats}}</h1>
		<h1>The number of suirrels with gray fur: {{primary_fur_col_stats}}</h1>
		<h1>The number of squirrels on the groud plane: {{location_stats}}</h1>
		<h1>The number of squirrels which were running:{{running_stats}}</h1>
		<h1>The number of squirrels which were chasing:{{chasing_stats}}</h1>

		<a href="/sighting">BACK TO ALL SQUIRRELS LIST</a>
	</body>
</html>

