<!DOCTYPE>
<html>

<head>
	<meta charset="utf-8">
	<title>sightings</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body
	<form>
		<div>
		<br>
		<a href="/map"><button type="button">Map</button></a>
		<a href="/sightings/add"><button type="button">Add a new squirrel</button></a>
		<a href="/sightings/stats"><button type="button">Stats about squirrels</button></a>
		</div>
	</form>
	<br>
	<h4><strong>You can click the squirrel’s ID to edit it!</strong></h4>
	<table class='table table-striped'>
	 	<thead>
		<th>unique_squirrel_id </th>
		</thead>
	 	<tbody>
           		{% for sighting in sightings %}
	   		<tr>
	   		<td>
				<a href="/sightings/{{sighting.unique_squirrel_id}}">
					{{ sighting.unique_squirrel_id }}
				</a>
			</td>
			</tr>
	        	{% endfor %}
	 	</tbody>								
	</table>
</body>
</html>

