<!DOCTYPE html>
<html>
	<head>
		<title>Squirrel Stats</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

	</head>

	<body>
	<table class='table table-striped'>
		<thead>
			<th>STATS about Squirrels</th>
		</thead>
		<tbody>
			<tr>
			<td>
				<h2>The number of juvenile squirrels: {{age}}</h2>
				<h2>The number of squirrels with gray fur: {{fur}}</h2>
				<h2>The number of squirrels on the groud plane: {{location}}</h2>
				<h2>The number of squirrels which were running:{{running}}</h2>
				<h2>The number of squirrels which were chasing:{{chasing}}</h2>
		</tbody>
	</table>
		<a href="/sightings">BACK TO ALL SQUIRRELS LIST</a>
	</body>
</html>

