<!DOCTYPE html>
<html>
	<head>
		<title>Squirrel Stats</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

	</head>

	<body>
		<h1>The number of juvenile squirrels: {{age}}</h1>
		<h1>The number of suirrels with gray fur: {{primary_fur_col}}</h1>
		<h1>The number of squirrels on the groud plane: {{location}}</h1>
		<h1>The number of squirrels which were running:{{running}}</h1>
		<h1>The number of squirrels which were chasing:{{chasing}}</h1>

		<a href="/sightings">BACK TO ALL SQUIRRELS LIST</a>
	</body>
</html>

