<html>
	<head>
		<meta charset="UTF-8">
		<title>Update Squirrel Data</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<form method="post">
			{{form.as_p}}
			<br>
			<input type="submit" name="Submit">					      	      </form>
											      	      </body>
</html>	
																																																																																																																																																																										                        
